.hero {
  height: calc(100vh - 109.03px);
  background-color: #141D2F;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
  }
    
    .hero-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      flex: 1;
      width: 100%;
    }
      
      .hero-left {
        flex: 0 0 auto;
        margin-left: 0;
     
        .profile-image {
          position: relative;
          width: 646px;
          height: 705px;
          overflow: visible;
          top: 0;
          left: 0;
          
          .profile-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            position: relative;
            z-index: 2;
          }
          
        }
      }
  
      .hero-right {
        flex: 0 0 auto;
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 10;
        margin-right: 0;
    
        .hero-text {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
      width: 718px;
      height: 172px;
      margin-left: -200px;
      margin-bottom: 200px;
      
      
        .i-am-container {
          writing-mode: vertical-rl;
          rotate: 180deg;
          text-orientation: mixed;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 63px;
          height: 152px;
          font-family: 'Poppins', sans-serif !important;
          font-weight: 400 !important;
          font-size: 64px;
          line-height: 120%;
          letter-spacing: 0%;
          color: #FFFFFF;
          padding-bottom: 38px; 
          white-space: nowrap;
        }
        
  
        .i-am-container * {
          font-family: 'Poppins', sans-serif !important;
          font-weight: 400 !important;
        }
      
      
      .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 620px;
      }
      
      .hero-name {
        width: 620px;
        height: 108px;
        font-size: 90px;
        font-weight: 700;
        font-style: bold;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: white;
        margin: 0;
        margin-top: 5px;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        white-space: nowrap;
      }
      
      .hero-title {
        font-size: 58px;
        color: #9747FF;
        margin: 0;
        margin-top: -5px;
        font-weight: 400;
        font-style: regular;
        line-height: 120%;
        letter-spacing: 0em;
        font-family: 'Poppins', sans-serif;
        white-space: nowrap;
        width: 620px;
        text-align: left;
      }
      
      .cta-button {
        background-color: #70E61C;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease;
        width: auto;
        min-width: 165px;
        padding: 15px 40px;
        height: 58px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        align-self: center;
        margin-top: 30px;
        white-space: nowrap;
        
        &:hover {
          background-color: #9747FF;
          transform: scale(1.1);
        }
      }
    }
  }
  
  .hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
    position: relative;
    z-index: 20;
    
    
    .contact-info {
      display: flex;
      align-items: center;
      gap: 30px;
      height: 40px;
      position: relative;
      z-index: 25;
      
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: calc(100% + 20px);
        width: 2000px;
        height: 2px;
        background-color: #9747FF;
        border-radius: 2px;
        transform: translateY(-50%);
        z-index: 1;
      }
      
      .contact-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;
        position: relative;
        z-index: 100;
        
        &:hover {
          width: 36px;
          height: 36px;
          z-index: 100;
        }
        
        .contact-icon {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          display: block;
        }
      }
      
      .email-text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.35rem;
        color: white;
        width: 248px;
        height: 28px;
        line-height: 120%;
        letter-spacing: 0%;
        font-weight: 400;
        font-style: regular;
        
      }
    }
    
    .scroll-indicator {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-70%);
      z-index: 30;
      
      .scroll-text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.35rem;
        color: white;
        writing-mode: vertical-rl;
        letter-spacing: 0%;
        font-weight: 400;
        font-style: regular;
        
        line-height: 1.2;
      }
      
      .scroll-arrow {
        width: 15.56px;
        height: 16px;
        object-fit: contain;
      }
    }
    
    }



  



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

// Responsive Design - ab 1300px
@media (max-width: 1300px) {
  .hero {
    .hero-right .hero-text {
      .i-am-container {
        font-size: 50px;
      }
      
      .hero-name {
        font-size: 70px;
        margin-top: 25px;
      }
      
      .hero-title {
        font-size: 45px;
        margin-top: -25px;
      }
      
      .cta-button {
        font-size: 1rem;
        height: 50px;
        padding: 12px 30px;
        
        margin-left: -120px;
      }
    }
  }
}

// Responsive Design - ab 1200px
@media (max-width: 1165px) {
  .hero {
    .hero-right .hero-text {
      .i-am-container {
        font-size: 45px;
      }
      
      .hero-name {
        font-size: 60px;
        margin-top: 30px;
      }
      
      .hero-title {
        font-size: 38.5px;
        margin-top: -30px;
      }
      
      .cta-button {
        font-size: 1rem;
        height: 50px;
        padding: 10px 25px;
        margin-left: -200px;
      }
    }
  }
}

// Responsive Design - ab 1070px
@media (max-width: 1070px) {
  .hero {
    .hero-right .hero-text {
      gap: 0px;
      
      .i-am-container {
        font-size: 45px;
      
        
      }
      
      .hero-name {
        font-size: 60px;
        margin-top: 32px;
      }
      
      .hero-title {
        font-size: 38.5px;
        margin-top: -34px;
      }
      
      .cta-button {
        font-size: 1rem;
        height: 56px;
        padding: 8px 20px;
        margin-left: -230px;
      }
    }
  }
}

// Responsive Design - ab 1040px
@media (max-width: 1040px) {
  .hero {
    .hero-left .profile-image {
      width: 600px;
      height: 650px;
    }
    
    .hero-right .hero-text {
      gap: 0px;
      
      .i-am-container {
        font-size: 45px;
      }
      
      .hero-name {
        font-size: 60px;
        margin-top: 32px;
      }
      
      .hero-title {
        font-size: 38.5px;
        margin-top: -34px;
      }
      
      .cta-button {
        font-size: 1rem;
        height: 56px;
        padding: 8px 20px;
        margin-left: -230px;
      }
    }
  }
}

// Responsive Design - ab 1000px (Tablet/Mobile Layout)
@media (max-width: 1000px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    
    .hero-left .profile-image {
      width: 550px;
      height: 600px;
      order: 1;
    }
    
     .hero-right .hero-text {
       position: relative;
       margin-left: -80px;
       margin-top: -40px;
       width: 100%;
       max-width: 400px;
       justify-content: center;
       align-items: center;
      
      .i-am-container {
        font-size: 36px;
        width: 40px;
        height: 80px;
        position: absolute;
        left: -50px;
        top: -18px;
      }
      
      .text-content {
        width: 100%;
        max-width: 350px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .hero-name {
        font-size: 60px;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-right: 0px;
      }
      
      .hero-title {
        font-size: 38.5px;
        width: 100%;
        text-align: center;
        margin-top: -50px;
        
      }
      
      .cta-button {
        font-size: 0.9rem;
        height: 45px;
        padding: 10px 25px;
        margin-left: 150px;
        top: 40px;
      }
    }
    
    .hero-footer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
    }
    
    .contact-info {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 40px;
      position: relative;
      z-index: 100;
      bottom: 220px;
      
      &::before {
        position: absolute;
        top: 50%;
        right: calc(100% + 20px);
        width: 2000px;
        height: 2px;
        background-color: #9747FF;
        border-radius: 2px;
        transform: translateY(-50%);
        z-index: 1;
        margin: 0;
      }
      
      .email-text {
        display: none;
      }
    }
    
    .scroll-indicator {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .hero-left .profile-image {
      width: 500px;
      height: 550px;
      order: 1;

      .profile-img {
        object-fit:contain; 
      }
    }

    
     .hero-right .hero-text {
       position: relative;
       margin-left: -35px;
       margin-top: -20px;
       width: 100%;
       max-width: 400px;
       justify-content: center;
       align-items: center;
      
      .i-am-container {
        font-size: 36px;
        width: 40px;
        height: 80px;
        position: absolute;
        left: -50px;
        top: -18px;
      }
      
      .text-content {
        width: 100%;
        max-width: 350px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .hero-name {
        font-size: 60px;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-right: 0px;
      }
      
      .hero-title {
        font-size: 38.5px;
        width: 100%;
        text-align: center;
        margin-top: -50px;
        
      }
      
      .cta-button {
        font-size: 0.9rem;
        height: 45px;
        padding: 10px 25px;
        margin-left: 110px;
    
      }
    }
    
    .hero-footer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
    }
    
    .contact-info {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 40px;
      position: relative;
      z-index: 100;
      
      
      
      .email-text {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .hero-left .profile-image {
      width: 450px;
      height: 550px;
      order: 1;

      .profile-img {
        object-fit:contain; 
      }
    }

    
     .hero-right .hero-text {
       position: relative;
       margin-left: -80px;
       margin-top: -20px;
       width: 100%;
       max-width: 400px;
       justify-content: center;
       align-items: center;
     }
    }
  }

  @media (max-width: 550px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .hero-left .profile-image {
      width: 500px;
      height: 550px;
      order: 1;

      .profile-img {
        object-fit:contain; 
      }
    }

    
     .hero-right .hero-text {
       position: relative;
       margin-left: -35px;
       margin-top: -20px;
       width: 100%;
       max-width: 400px;
       justify-content: center;
       align-items: center;
      
      .i-am-container {
        font-size: 36px;
        width: 40px;
        height: 80px;
        position: absolute;
        left: -50px;
        top: -18px;
      }
      
      .text-content {
        width: 100%;
        max-width: 350px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .hero-name {
        font-size: 60px;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-right: 0px;
      }
      
      .hero-title {
        font-size: 38.5px;
        width: 100%;
        text-align: center;
        margin-top: -50px;
        
      }
      
      .cta-button {
        font-size: 0.9rem;
        height: 45px;
        padding: 10px 25px;
        margin-right: 50px;
      }
    }
    
    .hero-footer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
    }
    
    .contact-info {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 40px;
      position: relative;
      z-index: 100;
      
      .contact-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;
        position: relative;
        z-index: 100;
        
        &:hover {
          width: 36px;
          height: 36px;
          z-index: 100;
        }
        
        .contact-icon {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          display: block;
        }
      }
      
      .email-text {
        display: none;
      }
    }
  }
}

@media (max-width: 490px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .hero-left .profile-image {
      width: 500px;
      height: 550px;
      order: 1;

      .profile-img {
        object-fit:contain; 
      }
    }

    
     .hero-right .hero-text {
       position: relative;
       margin-left: -35px;
       margin-top: -20px;
       width: 100%;
       max-width: 400px;
       justify-content: center;
       align-items: center;
      
      .i-am-container {
        font-size: 35px;
        width: 40px;
        height: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        margin-left: 20px;
      }
      
      .text-content {
        width: 100%;
        max-width: 350px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
      }
      
      .hero-name {
        font-size: 44px;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-left: 40px;
      }
      
      .hero-title {
        font-size: 28.5px;
        width: 100%;
        text-align: center;
        margin-top: -50px;
        margin-left: 40px;
        
      }
      
      .cta-button {
        font-size: 16px;
        height: 45px;
        padding: 10px 25px;
        margin-right: 80px;
      }
    }
    
    .hero-footer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
    }
    
    .contact-info {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 40px;
      position: relative;
      z-index: 100;
      
      .contact-link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;
        position: relative;
        z-index: 100;
        
        &:hover {
          width: 36px;
          height: 36px;
          z-index: 100;
        }
        
        .contact-icon {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          display: block;
        }
      }
      
      .email-text {
        display: none;
      }
    }
  }
}

@media (max-width: 435px) {
  .hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      gap: 2rem;
      padding: 0 20px;
    }
    
    .hero-main {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .hero-left .profile-image {
      width: 450px;
      height: 550px;
      order: 1;

      .profile-img {
        object-fit:contain; 
      }
    }}}

    @media (max-width: 388px) {
      .hero {
        .hero-content {
          flex-direction: column;
          align-items: center;
    
          gap: 2rem;
          padding: 0 20px;
        }
        
        .hero-main {
          flex-direction: column;
          align-items: center;
          gap: 2rem;
        }
    
        .hero-left .profile-image {
          width: 400px;
          height: 550px;
          order: 1;
    
          .profile-img {
            object-fit:contain; 
          }
        }}}
    
        @media (max-width: 404px) {
          .hero {

             .hero-right .hero-text {
               position: relative;
               margin-left: -35px;
               margin-top: -20px;
               width: 100%;
               max-width: 400px;
               justify-content: center;
               align-items: center;
              
              .i-am-container {
                font-size: 35px;
                width: 40px;
                height: 80px;
                position: absolute;
                left: -20px;
                top: -20px;
                margin-left: 40px;
              }
              
              .text-content {
                width: 100%;
                max-width: 350px;
                align-items: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                margin-left: 40px;
              }
              
              .hero-name {
                font-size: 44px;
                width: 100%;
                text-align: center;
                margin-top: -20px;
                margin-left: 40px;
              }
              
              .hero-title {
                font-size: 28.5px;
                width: 100%;
                text-align: center;
                margin-top: -50px;
                margin-left: 40px;
                
              }
              
              .cta-button {
                font-size: 16px;
                height: 45px;
                padding: 10px 25px;
                margin-right: 90px;
              }
            }}}

            @media (max-width: 378px) {
              .hero {
    
                 .hero-right .hero-text {
                   position: relative;
                   margin-left: -35px;
                   margin-top: -20px;
                   width: 100%;
                   max-width: 400px;
                   justify-content: center;
                   align-items: center;
                  
                  .i-am-container {
                    font-size: 31px;
                    width: 40px;
                    height: 80px;
                    position: absolute;
                    left: -20px;
                    top: -20px;
                    margin-left: 60px;
                  }
                  
                  .text-content {
                    width: 100%;
                    max-width: 350px;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    margin-left: 40px;
                  }
                  
                  .hero-name {
                    font-size: 38px;
                    width: 100%;
                    text-align: center;
                    margin-top: -20px;
                    margin-left: 40px;
                  }
                  
                  .hero-title {
                    font-size: 24.5px;
                    width: 100%;
                    text-align: center;
                    margin-top: -55px;
                    margin-left: 40px;
                    
                  }
                  
                  .cta-button {
                    font-size: 16px;
                    height: 45px;
                    padding: 10px 25px;
                    margin-right: 100px;
                  }
                }}}
