/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}

* {
  scroll-behavior: smooth !important;
}

/* Webkit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}



body {
  background-color: #141D2F;
  font-family: 'Inter', 'Poppins', sans-serif;
}